<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div style="text-align: center;">
       <h1 th:if="${weather != null}" th:text="${weather.getTempModel().getTemp() - 273}"></h1>
       <h1 th:if="${weather != null}" th:text="${weather.getCloudModel().getCloudy()}"></h1>
         <br />
            <form action="/" method="post">
                <input type="text" name="city" placeholder="Podaj miasto">
                <input type="submit" value="Wyślij">
            </form>
  </div>
</body>
</html>